name: Publish to Flathub

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  flathub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          manifest-path: io.github.mall0r.Twinverse.yaml

      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: repo/io.github.mall0r.Twinverse*.flatpak
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
